.grid-container {
  margin: 3% auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.button-container {
  margin-bottom: 20px;
}

button {
  margin: 2px;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button.btn-danger {
  background-color: #ff5722;
  font-weight: bold;
  color: #ffffff;
}

button.btn-primary {
  background-color: #2196f3;
  font-weight: bold;
  color: #ffffff;
}

button.btn-danger.small {
  font-size: 14px;
  padding: 5px 10px;
}

button.btn-primary.small {
  font-size: 14px;
  padding: 5px 10px;
}

.navbar {
  background-color: #008cff;
  padding: 8px;
}

.navbar-brand {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
} 
